    * {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;
        padding: 0px;
    }
    
    .header {
        font-size: 0.8rem;
        display: flex;
        pointer-events: unset;
        cursor: pointer;
    }
    
    .headers:hover {
        text-decoration: underline;
        opacity: 1;
    }
    
    a,
    u {
        text-decoration: none;
        color: rgb(116, 109, 109);
    }
    
    .button {
        display: flex;
        align-items: center;
        background-color: rgb(0, 119, 255);
        color: white;
        padding: 2rem 5rem;
        margin: 0.5rem 0rem 5rem;
        border-radius: 0.2rem;
        font-weight: 700;
    }
    
    .button:active {
        border: 2px solid rgb(39, 39, 139);
    }
    
    .left-header {
        padding: 1rem 0.5rem;
        margin: 0.2rem 0.5rem;
    }
    
    .right-header.button {
        padding: 1rem;
        height: 0.1rem;
    }
    
    .right-header {
        padding: 0.5rem 0.1rem;
        margin: 0.8rem;
    }
    
    .image-link {
        display: flex;
        align-items: center;
        opacity: 0.5;
        padding-top: 0%;
        /* margin-top: 5px; */
    }
    
    .lh {
        display: flex;
        margin-right: auto;
    }
    
    .rh {
        display: flex;
        margin-left: auto;
    }
    
    main {
        margin: 16%;
        text-align: center;
    }
    
    #logo {
        display: flex;
        margin: auto;
    }
    
    .textbar {
        border-width: 0.1rem;
        border-radius: 2rem;
        border: 0.1rem solid rgba(136, 132, 132, 0.5);
        height: 2.9rem;
        width: 32rem;
        object-fit: contain;
        outline: none;
        padding-left: 50px;
        font-size: 1rem;
    }
    
    #mic {
        position: relative;
        top: 5px;
        right: 74px;
        height: 20px;
    }
    
    #mag {
        height: 30px;
        width: 30px;
        position: relative;
        top: 10px;
        left: -35rem;
    }
    
    .textbar:hover {
        box-shadow: 2px 2px 4px 1.5px rgba(94, 88, 88, 0.2);
    }
    
    .inputs {
        margin: 1.5rem;
    }
    
    .mid-but {
        margin-top: 3rem;
        margin-bottom: 2rem;
        font-size: 0.8rem;
    }
    
    .mid-button {
        size: 40rem;
        margin: 1rem 0.5rem;
        background-color: rgb(250, 246, 246);
        color: rgb(94, 90, 90);
        padding: 0.8em 1.3em;
        border-radius: 0.3rem;
    }
    
    #language {
        color: darkblue;
        text-decoration: underline;
    }
    
    .mid-text {
        font-size: 0.8rem;
    }
    
    footer {
        position: fixed;
        width: 100%;
        height: 100px;
        bottom: 0;
        background-color: rgb(247, 242, 242);
        color: rgb(116, 109, 109);
        font-size: 0.8rem;
    }
    
    .footers:hover {
        text-decoration: underline;
        opacity: 1;
    }
    
    .left-footer {
        padding: 0.5rem;
    }
    
    .right-footer {
        padding: 1rem;
    }
    
    .lf {
        margin: 0.5rem 0.1rem 1rem;
        float: left;
    }
    
    .rf {
        margin: 0.5rem 0.1rem 1rem;
        float: right;
    }
    
    .nav-footer {
        margin: 0.5rem;
        height: 20px;
        background-color: rgb(247, 242, 242);
        align-content: center;
        border-top: 1px solid rgba(165, 156, 156, 0.3);
    }
    
    .region {
        font-size: 0.95rem;
        padding: 0.2rem;
        margin: 0.7rem 0.9rem 0.1rem;
        height: 1.5rem;
    }